body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2c0f5;
}

.container {
    display: flex;
    gap: 20px;
}

.card {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
}

#week1 {
    background-color: rgb(23, 208, 23);
    color: white;
}

#week2 {
    background-color: blue;
    color: white;
}

#week3 {
    background-color: red;
    color: white;
}

#week4 {
    background-color:yellow;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}