body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#E0F7FA;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
}

.card {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(74, 194, 203, 0.301);
    transition: transform 0.2s ease;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    font-size: 24px;
}

.card:hover {
    transform: scale(1.05);
}

#index {
    background-color: white;
    color: #3498db;
    cursor: pointer;

    &:hover{
        background-color: #3498db;
        color: white;
    }
}

a {
    text-decoration: none;
    color: inherit;
}